.container {
    background-color: rgb(247, 223, 223);
    /* border: 1px solid black; */
    box-shadow: 0px 2px rgb(212, 212, 212);
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2px 0;
}

.logo {
    margin: 1rem;
}

.login_button {
    text-decoration: none;
    background-color: rgb(41, 40, 40);
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 1vh;
    justify-self: end;
    margin: 0 10rem 0 0;
    display: block;
}

.loginContainer {
    display: flex;
    width: 10rem;
    justify-content: space-between;
}

.login {
    padding: 0.3rem 1rem;

}

