.container {

}

.layer_container {
    display: block;
}

.layers {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    margin: 0 auto;
}

.layer_picture{
    display: block;
    width: 15vw;
    margin: 0 0 0 0.5rem;
}

.layer_input {
    margin: 5% 0;
    font-size: 0.9rem;
    height: 2rem;
    text-align: center;
}

.layer_select {
    margin: 5% 0;
    height: 2rem;
    font-size: 1.1rem;
    text-align: center;
}

.form_container {
    width: 60%;
    margin: 0 auto;
    font-size: 0.9rem;
}

.label {
    padding: 0;
    text-align: center;
}

.add_button {
    margin: 3rem auto;
}

.add_picture {
    display: block;
    width: 15vw;
    opacity: 35%;
}