.container {
    background-color: rgb(247, 223, 223);
    box-shadow: 0px -2px rgb(212, 212, 212);
    display: block;
    height: 25vh;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    
}

.info_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.email {

}

.phoneNumber {

}